                    
                </div>
            </div>
        </div>
    </div>

    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- jquery vendor -->
    <script src="/public/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/public/js/lib/menubar/sidebar.js"></script>
    <script src="/public/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <script src="/public/js/lib/bootstrap.min.js"></script>
    <!-- bootstrap -->
    <script src="/public/js/scripts.js"></script>
    <!-- scripit init-->

</body>

</html>

<style type="text/css">
    thead tr th:last-child {
        text-align: left;
    }
</style>
